model/*
premodel
stest/*
strain/*
thirdparty/*

virtualData

*.pt
*.ckpt
*.npy
*.npz
*.h5
*.pkl
*.onnx
*.ply

**/__pycache__/
*.py[cod]

LSD-denoising_mt
LSD-Gdata_mt
*.txt

run_test.sh
test_sampling

!model/.gitkeep
!stest/.gitkeep
!strain/.gitkeep
!thirdparty/.gitkeep